$black: rgba(0,0,0,1);
$black75: rgba(0,0,0,.75);
$black50: rgba(0,0,0,.50);
$black15: rgba(0,0,0,.15);
$white:rgba(255,255,255,1);
$white15:rgba(255,255,255,.15);
$red: rgba(244, 108, 107,1);
$red15: rgba(244, 108, 107,.15);
$blue: rgba(64, 158, 255,1);
$blue15: rgba(64, 158, 255,.15);
$gree:rgba(103, 194, 58,1);
$gree15:rgba(103, 194, 58,.15);